.service_cont h3 {
  color: #07708e;
  font-size: 20px;
  line-height: 25px;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  padding: 20px 0px;
  letter-spacing: -1px;
}

.service_cont p {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 26px;
}